body{
    width: 480px;
    height: 220px;
    border: 1px solid #dbdede;
    font-family: Arial;
    box-shadow: 5px 5px 5px 5px #656565;
}
header{
    margin-top: 2em;
    margin-right: 2em;
}
h1{
    display: inline;
    margin-left: 0.5em;
}
img{
    float: right;
}
main{
    display: inline-block;
    margin-top: 2em;
    margin-bottom: 1.6em;
}
#metier {
    color: #888888;
    margin-left: 0.8em;
    font-weight: bold;
    font-size: 20px;
}
#competence{
    color: #cccccc;
    font-weight: bold;
}
a{
    margin-left: 1em;
}
a:visited{
    color: #72aacc;
}
footer span{
    color: #868276;
    margin-left: 6em;
}
footer{
    background-color: #eaecef;
    padding: 2em 0 1.5em 0;
}
